<%= form_for @conn, Routes.join_path(@conn, :join), [autocomplete: "off"], fn f -> %>
  <%= label f, :id, "Enter code:" %>
  <%= text_input f, :id, required: true, maxlength: 4 %>
  <%= submit "Join Game", class: "button full-width" %>
<% end %>

<hr class="divider" />

<%= form_for @conn, Routes.game_path(@conn, :create), fn _ -> %>
  <%= submit "Create Game", class: "button full-width" %>
<% end %>
