<h1>Game</h1>

<div id="app" data-shortcode="<%= @shortcode %>" data-auth-token="<%= @auth_token %>"></div>

<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
